<template name="home">
    <div class="start-page">
        <div class="cloud-svg left-top"></div>
        <div class="cloud-svg bottom-right"></div>
        <div class="monster-svg"></div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            <a class="button" href="#">Start My Review</a>
        </div>
    </div>
</template>
